* {
    box-sizing: border-box; 
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}

/* ESTRUTURA */
#main {
  display: flex;
  flex: 1;
}
#main > article {
  flex: 1;
  text-align: center;
}
#main > nav, 
#main > aside {
  flex: 0 0 20vw;
  background: #cfedec;
}
#main > nav {
  order: -1;
}
header {
  background: #45734C;
  height: 20vh;
  text-align: center;
 
}
footer {
  background: #45734C;
  height: 15vh;
  text-align: center;
  display: flex;
  justify-content: center;
  color: black;
}
header, footer, article, nav, aside {
  padding: 1em;
  font-size: 3vh;
}

.container{
  
  display: flex;  
  justify-content: center;
  margin-top: -100px;
  width: 100%;
  height: 30vh;
  background-image: url('slytherin-min.jpg');
  border-radius: 3px;
  background-size: cover; 
}

@media screen and (min-width: 768px){

  .container{
    display: inline-flex;
    justify-content: center;
    width: 60%;
    height: 40vh;
    background-image: url('slytherin.jpg');
    border-radius: 3px;
    background-size: cover;
  }
}

ul{
  margin-top: 0;
  margin-left: 0;
  display: flex;
  justify-content: space-between;
  /*background-color: red;*/
  width: 100%;
  height: 5vh;
  position: relative;
}


@media screen and (min-width: 768px){

  ul{
    display: inline-flex;
    justify-content: space-between;
    width: 60%;
    height: 2vh;
  }
}

/* Icones */
ul  a {
  color: #F21B2D; /*#E827E8;*/
  font-size: 4rem;
  margin-left: -35px;
  margin-right: 5px;
  }

  @media screen and (min-width: 768px){

    ul a{
      color: #F21B2D; /*black*/;
      font-size: 3rem;
      margin-left: -35px;
      margin-right: 5px;
    }
  }
 

hr{
  background-image: linear-gradient(to right, transparent, #CCC, transparent);
  border: 0;
   height: 0.50vh;
  margin-top: 5vh;
  margin-bottom: -10vh;
  position: static;
}
/*-------------------------------------------------*/


/*  Linha do Tempo */

.timeline{
  --uiTimelineMainColor: var(--timelineMainColor, #222);
  --uiTimelineSecondaryColor: var(--timelineSecondaryColor, #fff);

  position: relative;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.timeline:before{
  content: "";
  width: 4px;
  height: 100%;
  background-color: var(--uiTimelineMainColor);

  position: absolute;
  top: 0;
}

.timeline__group{
  position: relative;
}

.timeline__group:not(:first-of-type){
  margin-top: 4rem;
}

.timeline__year{
  padding: .5rem 1.5rem;
  color: var(--uiTimelineSecondaryColor);
  background-color: var(--uiTimelineMainColor);

  position: absolute;
  left: 0;
  top: 0;
}

.timeline__box{
  position: relative;
}

.timeline__box:not(:last-of-type){
  margin-bottom: 30px;
}

.timeline__box:before{
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--uiTimelineMainColor);

  position: absolute;
  left: 0;
  z-index: -1;
}

.timeline__date{
  min-width: 65px;
  position: absolute;
  left: 0;

  box-sizing: border-box;
  padding: .5rem 1.5rem;
  text-align: center;

  background-color: var(--uiTimelineMainColor);
  color: var(--uiTimelineSecondaryColor);
}

.timeline__day{
  font-size: 2rem;
  font-weight: 700;
  display: block;
}

.timeline__month{
  display: block;
  font-size: .8em;
  text-transform: uppercase;
}

.timeline__post{
  padding: 1.5rem 2rem;
  border-radius: 2px;
  border-left: 3px solid var(--uiTimelineMainColor);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
  background-color: var(--uiTimelineSecondaryColor);
}

@media screen and (min-width: 641px){

  .timeline:before{
    left: 30px;
  }

  .timeline__group{
    padding-top: 55px;
  }

  .timeline__box{
    padding-left: 80px;
  }

  .timeline__box:before{
    top: 50%;
    transform: translateY(-50%);  
  }  

  .timeline__date{
    top: 50%;
    margin-top: -27px;
  }
}

@media screen and (max-width: 640px){

  .timeline:before{
    left: 0;
  }

  .timeline__group{
    padding-top: 40px;
  }

  .timeline__box{
    padding-left: 20px;
    padding-top: 70px;
  }

  .timeline__box:before{
    top: 90px;
  }    

  .timeline__date{
    top: 0;
  }
}

.timeline{
  --timelineMainColor: #e49477; /* #9e2c6f #4557bb*/;
  font-size: 16px;
}

/* DEMO */

@media (min-width: 768px){

  html{
    font-size: 62.5%;
  }
}

@media (max-width: 767px){

  html{
    font-size: 55%;
  }
}

/* CORPO DA LINHA TEMPORAL */ 
body{
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
  font-size: 1.6rem;
  color: #222;

  background-color: #f0f0f0;
  margin: 0;
  -webkit-overflow-scrolling: touch;   
  overflow-y: scroll;
  
  display: flex;
  flex-direction: column;
}

p{
  margin-top: 0;
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

p:last-child{
  margin-bottom: 0;
}

.page{
  max-width: 800px;
  margin-top: 0px;
  padding: 10rem 2rem 3rem;
  margin-left: auto;
  margin-right: auto;
  order: 1;
}

button{
  margin-top: 30px;
  background-color: #F21B2D;
  border-color: #F21B2D;
  box-shadow: 10px 5px rgba(0, 0, 0, 0.212);
  border-radius: 8px;
  font-size: 3vh;
  width: 40%;
  height: 5vh;
}

button a:hover{
  
}